.footer-links > ul > div > li:hover{
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

.swiper {
  height: 350px;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-button-next, .swiper-button-prev {
  position: absolute !important;
  bottom: 0 !important;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: white;
  color: black;
}

.swiper-button-prev, .swiper-button-next{
  height: 100% ;
  margin-top: 15% !important;
  margin-left: 86% !important;
  background-color  : #000;
}

.swiper-button-next{
  margin-top: 15% !important;
}
.swiper-navigation-icon{
  color: rgb(186, 187, 186) !important;
  width: 10px !important;
}
.swiper-pagination-progressbar{
  background-color: #e6e6e6 !important;
  margin-top: 35% !important;
}

.swiper-pagination-progressbar-fill{
  background-color: rgb(175, 175, 175) !important;
}

@media(max-width: 600px) {
  .swiper {
    height: 300px;
  }
  .swiper-button-prev, .swiper-button-next{
    height: 100% ;
    margin-top: 28% !important;
    margin-left: 70% !important;
    background-color  : #000;
  }
  .swiper-pagination-progressbar{
    background-color: #e6e6e6 !important;
    margin-top: 55% !important;
  }
}


body{
  background-repeat: no-repeat;
  background-size: cover;
}