.footer-links > ul > div > li:hover{
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

.swiper {
  height: 400px;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #7b76c7;

  /* Center slide text vertically */
  display: flex;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-button-next, .swiper-button-prev {
  position: absolute !important;
  bottom: 0 !important;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: white;
  color: black;
}

.swiper-slide .swiper-button-prev{
  width: 100%;
  height: 100% ;
  background-color  : #000;
}
.swiper-navigation-icon{
  display: none;
}
